<div id="slideWrap">
    <div id="slideshow">

        <!-- empty element for pager links -->
        <div class="cycle-pager">
            <div class="container" id="slideNavWrapper">
                <span id="">&bull;</span>
                <span id="">&bull;</span>
                <span id="">&bull;</span>
                <span id="">&bull;</span>
            </div>
        </div>

        <div class="slide">
            <img src="{uploads_url}/images/home_slides/oil_and_gas.jpg">
            <div class="caption">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-9 col-md-7">
                            <div class="title light">
                                <h2 class="page-header">Extend your business’s reach with voice and data solutions for remote site communication.</h2>
                                <a class="btn" href="{cms_selflink href='enterprise'}">Read More</a>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
        </div>

        <div class="slide">
            <img src="{uploads_url}/images/home_slides/forestry.jpg">
            <div class="caption">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-9 col-md-7">
                            <div class="title">
                                <h2 class="page-header">Communication solutions for remote and lone worker applications.</h2>
                                <a class="btn" href="{cms_selflink href='personal'}">Read More</a>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
        </div>

        <div class="slide">
            <img src="{uploads_url}/images/home_slides/mining.jpg">
            <div class="caption">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-9 col-md-7">
                            <div class="title">
                                <h2 class="page-header">Solutions for voice and data communication, during every phase of your project.</h2>
                                <a class="btn" href="{cms_selflink href='enterprise'}">Read More</a>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
        </div>

        <div class="slide">
            <img src="{uploads_url}/images/home_slides/marine.jpg">
            <div class="caption">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-9 col-md-7">
                            <div class="title">
                                <h2 class="page-header">Stabilized solutions for out-of-port communication and reporting requirements.</h2>
                                <a class="btn" href="{cms_selflink href='personal'}">Read More</a>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
        </div>

    </div>
</div>
