<p class="lead">The brands that Infosat offer to our customers include only the satellite components and network services that we have confidence in. We only carry quality services, and the satellite hardware that we know work!</p>
<p>You have our assurance that as you browse Infosat’s offering by brand, every product you’ll come across does exactly what it’s intended to when implemented in your satellite communication solution.</p>
<h2>Infosat offers the brands of satellite gear and services most sought after for quality and performance.</h2>


<div class="drawerWrap">
	<div class="titleBlock">
		<h3>Infosat Connect</h3>
	</div>
	<div class="drawerContent">
		<p>Connect is a family of enterprise grade solutions that use Infosat’s Connect network services. Learn more about Connect family of products and how they can assist you in meeting your business’s voice and data communication requirements in remote and demanding locations.</p>
	</div>
</div>
<div class="drawerWrap">
	<div class="titleBlock">
		<h3>Iridium</h3>
	</div>
	<div class="drawerContent">
		<p>Iridium connects the world like no other. Everywhere. Learn more about the complete line of Iridium products for global voice and data access that is carried at Infosat.</p>
	</div>
</div>
<div class="drawerWrap">
	<div class="titleBlock">
		<h3>Inmarsat</h3>
	</div>
	<div class="drawerContent">
		<p>Inmarsat ensures that you are never beyond reach. Learn more about Inmarsat products for global voice and data access offered at Infosat.</p>
	</div>
</div>
<div class="drawerWrap">
	<div class="titleBlock">
		<h3>LightSquared</h3>
	</div>
	<div class="drawerContent">
		<p>LightSquared offers access to the MSAT satellite network. Learn more about MSAT devices that make it simple to use voice, push-to-talk, data and GPS tracking services in North America.</p>
	</div>
</div>
<div class="drawerWrap">
	<div class="titleBlock">
		<h3>Infosat HSe</h3>
	</div>
	<div class="drawerContent">
		<p>High Speed Enterprise (HSe) is Ka Band satellite service offered by Infosat. Learn more about HSe services and accessing high speed satellite internet in remote locations.</p>
	</div>
</div>
