
/*-----------------------------------------------------------------------------------

    1.0 GENERAL
        1.1 - Navigation
            1.1.1 - Main nav
            1.1.2 - Side nav
    2.0 TYPOGRAPHY
        2.1 - Home
            2.1.1 - News
        2.2 - Interior
            2.2.1 - Sitemap
            2.2.2 - Expand/Collapse
        2.3 - Landing Pages


-------------------------------------------------------------------------------------*/


/*==================================
=            1. GENERAL            =
==================================*/

/* If using less than IE 8 */
.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/*==========  1.1 Navigation  ==========*/


/*-----  1.1.1 - Main nav  ------*/


/* ---- Logo ---- */

/* ---- Search ---- */


@media (min-width: 768px) {

}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {

}