{process_pagedata}
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <!-- Humans text file -->
        <link rel="author" href="humans.txt" />

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <link rel="shortcut icon" href="favicon.ico">

        <title>{title} - {sitename}</title>

        {metadata}

        <!-- Bootstrap and Font Awesome core CSS -->
        <link href="{root_url}/assets/css/bootstrap.min.css" rel="stylesheet">
        <% if (includeFontAwesome) { %><link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet"><% } %>

        <!-- Custom styles for this template -->
        {cms_stylesheet}
        <link href="{root_url}/assets/css/styles.css" rel="stylesheet">

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
    </head>

    <body>

        <!--[if lt IE 8]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->


        <!-- Add your site or application content here -->
        <p>Hello world! This is HTML5 Boilerplate.</p>



        <!-- JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script type="text/javascript">
            if (typeof jQuery == 'undefined') {
                document.write(unescape("%3Cscript src='assets/js/jquery-1.10.2.min.js' type='text/javascript'%3E%3C/script%3E"));
            }
        </script>
        <script src="{root_url}/assets/js/bootstrap.min.js"></script>

        <!-- Global Javascript -->
        {*global_content name='footer_js'*}

        <!-- Page specific Javascript -->
        {* To make this work, first:Install CGContentUtils, second: uncomment out the tags below *}
        {*content_module module='CGContentUtils' block='page_javascript' name='page_javascript' label='Page Specific Javascript - No literal tags yes script tags' groups='Admin' assign='pageJava'*}

        {*if $pageJava != ''*}
            {*$pageJava*}
        {*/if*}

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>
        
    </body>

</html>
